            .footer{
                background-color:rgb(56, 56, 53);
                 margin-top: -20px;
                margin-bottom: -20px;
                 left: 0;
                 bottom: 0;
                 width: 100%;
                font-weight: bold;
            }
            
            .footer .Bhd{
                color: rgb(158, 158, 145);
                font-size: 15px;
                
            }
            
            .footer .footercontent{
                color: rgb(158, 158, 145);
                font-size: 13px;
            }